## Build artifacts
Diagrammatic/bin/
Diagrammatic/obj/
Diagrammatic/out/
!Web_API/Exercises/wwwroot/images/*.png

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## Visual Studio Code
Diagrammatic/.vs/
.vs/

## Logs
*.log

## Secrets or local configs
appsettings.*.json
!appsettings.json  # Keep the base config file tracked
.env

## ASP.NET temporary files
**/GeneratedCode/
**/PublishProfiles/
**/TestResults/

## NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

## Dependency cache
.vs/
_ReSharper*/
*.DotSettings.user

## Other
*.db
*.sqlite
*.bak
Diagrammatic/.vs/Diagrammatic_test/v17/.suo
*.v2
Diagrammatic/.vs/Diagrammatic_test/v17/.futdcache.v2
Diagrammatic/.vs/Diagrammatic_test/DesignTimeBuild/.dtbcache.v2
*.v2
/Diagrammatic/.vs/Diagrammatic_test/v17
Diagrammatic/.vs/Diagrammatic_test/v17/.suo
Diagrammatic/.vs/Diagrammatic_test/v17/.suo
Diagrammatic/.vs/Diagrammatic_test/v17/.futdcache.v2
Diagrammatic/.vs/Diagrammatic_test/DesignTimeBuild/.dtbcache.v2
/Diagrammatic/.vs
